{{!-- {{log this}} --}}
<div class="comments">
    <div class="comment">
        <strong class="comment-author"> @{{uname}} </strong>
        <span class="comment-date"> {{createAt}}</span>
        <div class="comment-text">{{text}}</div>
    </div>
</div>