<div id="flash-message" style="text-align: center;">
    {{#if messages.error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{messages.error}}</div>
    {{else}}
        <div class="alert alert-success alert-dismissible fade show" role="alert"> {{messages.success}} </div>
    {{/if}}
</div>