<section>
    
    <form method="POST" action="/users/login" id="login" class="login" enctype="application/x-www-form-urlencoded">
        <H1 class="login-form">Login Form</H1>
        <div id="login_div">
            <label for="uname" id="uname_lable">Username:</label>
            <input type="text" id="uname" name="uname" placeholder="Please type username here." value="aaa" required>
            <label for="password" class="pwd_lable">Password:</label>
            <input type="password" id="password" name="pwd" class="pwd" placeholder="Please type password here." value="Pizza@163" required>
            <div class="login-sub">
            <input type="submit" id="submit" value="Submit">
            <span> not a user? </span>
            <a class="nav-items" href="/registration"> registration </a>
            </div>
        </div>
    </form>
</section>